<div class="header" ng-controller="NavbarCtrl">
  <ul class="nav nav-pills pull-right">
    <li ng-show="currentUser"><a href="/hang"><span class="glyphicon glyphicon-home"></span></a></li>
  	<li ng-show="currentUser"><a href="/newhang"><span class="glyphicon glyphicon-plus"></span></a></li>
    <li ng-show="currentUser"><a href="/hangtime"><span class="glyphicon glyphicon-time"></span></a></li>
  	<li ng-show='currentUser'><h5>{{currentUser.name}}</h5> </li>
<!--     <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
        <a ng-href="{{item.link}}">{{item.title}}</a>
    </li> -->
    <!-- <li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li> -->
    <!-- <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li> -->
    <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span></a></li>
  </ul>
  <!-- <img src="http://i.imgur.com/ulAXSnP.png" style="width:30px;">  -->
  <h3><a href="/">WannaHang</a></h3>
</div>

